<div id="footer" class="flex-wrap">
    <div id="image-box" class="col"><img id="footer-img" class="kamyon"  /></div>
    <div id="end-box" class="col">
        <div id="end-content">
            <h1 style="color: rgb(255,255,255);">Contact</h1>
            <ul class="list-unstyled">
                <li style="color: rgb(255,255,255);font-size: 19px;white-space: nowrap;">mybusinessstreet 69, 0000 City<br /></li>
                <li style="color: rgb(255,255,255);font-size: 19px;">Puhelin: <a href="tel:0123456789"><span style="color: rgb(69,73,78);">+35845454545</span></a><br /></li>
                <li style="color: rgb(255,255,255);font-size: 19px;">Sähköposti: <a href="mailto:mail@example.com"><span style="color: rgb(69,73,78);">info@example.fi</span></a><br /></li>
            </ul><button class="btn btn-primary" id="form-btn" type="button"><i class="fa fa-envelope-o"></i> Contact-us</button>
            <div id="info-some-buttons" class="some" style="display: flex;justify-content: center;">
                <ul class="some-list">
                    <li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                    <li class="instagram"><a href="https://www.instagram.com/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                    <li class="whatsapp"><a href="https://wa.link/"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
